
/*
Instead of importing the original theme, I've just copied it all into here.
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");
*/

:root {
    --columns:    3; /* default:  3   (amount of servercolumns) */
    
    --guildsize: 50; /* default: 50   (serversize in pixel) */
    --guildgap:   3; /* default:  3   (top/bottom gap between servers in pixel) */
    
    --aligndms:   1; /* default:  0   (should DMs be aligned in columns: 0 = no, 1 = yes) */
    /* 0 just looks better, so I'm setting it to that lol */
}

:root {
    --vcolumns: var(--columns, 3);
    --vguildsize: var(--guildsize, 50);
    --vguildgap: var(--guildgap, 3);
    --valigndms: var(--aligndms, 1);
}

.guilds-1SWlCJ div[aria-label=Servers] .listItem-1hlISG {
    justify-content: unset !important;
}

.guilds-1SWlCJ ul[role=group] .listItem-1hlISG {
    justify-content: unset !important;
}

.container-2lgZY8 {
    display: flex !important;
}
.wrapper-3NnKdC {
    position: static !important;
    contain: unset !important;
}
.base-3dtUhz {
    position: static !important;
    contain: unset !important;
    width: 100% !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP,
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC,
.wrapper-3NnKdC,
.wrapper-3NnKdC .unreadMentionsIndicatorTop-gA6RCh,
.wrapper-3NnKdC .unreadMentionsIndicatorBottom-BXS58x {
    width: calc(1px * (var(--vguildsize) * var(--vcolumns) + 20 * (var(--vguildsize)/50) + 14 * (var(--vguildsize)/50) * (var(--vcolumns) - 1))) !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
    padding-right: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) - 50)) !important;
}
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP,
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
    width: calc(2px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) + 35 - 25)) !important;
}
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
    padding-right: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) * 2 - 40)) !important;
}
.titleBar-AC4pGV .typeMacOS-3EmCyP .typeMacOSWithFrame-3R_i5S .macButtons-2MuSAC {
    margin-top: 0 !important;
    margin-right: 0 !important;
}
.wrapper-3NnKdC {
    padding: 0 !important;
}
.wrapper-3NnKdC .scroller-1Bvpku {
    padding: 0 0 calc(10px * var(--vguildsize)/50) calc(10px * var(--vguildsize)/50) !important;
}
.wrapper-3NnKdC .scroller-1Bvpku .none-2Eo-qx::-webkit-scrollbar {
    width: 0 !important;
}
.wrapper-3NnKdC .scroller-1Bvpku,
.wrapper-3NnKdC .scroller-1Bvpku > [role="tree"],
.wrapper-3NnKdC .listItem-1hlISG + div[aria-label]:not([class]),
.BF-folderSidebar div[aria-label=Servers] { /* Fix for Better Folders (by solonovamax#6983 */
    margin: 0 !important;
    display: flex !important;
    flex-flow: row wrap !important;
    align-content: flex-start !important;
}
.wrapper-3NnKdC .listItem-1hlISG {
    margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
}
.wrapper-3NnKdC #server-search {
    margin: calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2)) !important;
}
.wrapper-3NnKdC #server-search .pill-1z4sAY {
    display: none;
}

/*
.wrapper-3NnKdC .listItem-1hlISG:first-child .listItemWrapper-KhRmzM {
    margin: 0 calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2)) calc(1px * var(--vguildgap)) calc(1px * ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2))) !important;
}

.wrapper-3NnKdC .listItem-1hlISG:first-child .pill-1z4sAY ~ .listItemWrapper-KhRmzM {
    margin: 0 calc(1px * ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))) 0 calc(1px * (((0 * var(--valigndms)) + ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))))) !important;
}
*/

.wrapper-3NnKdC .blobContainer-pmnxKB,
.wrapper-3NnKdC .circleButtonMask-2VNJsN,
.wrapper-3NnKdC .guildsError-b7zR5H {
    margin: 0 !important;
}
.wrapper-3NnKdC .listItem-1hlISG {
    width: auto !important;
}
.wrapper-3NnKdC .placeholderMask-3K9THS,
.wrapper-3NnKdC .svg-1X37T1,
.wrapper-3NnKdC .wrapper-sa6paO { /* this stays as sa6paO */
    height: calc(1px * var(--vguildsize)) !important;
    width: calc(1px * var(--vguildsize)) !important;
}
.wrapper-3NnKdC .homeIcon-FuNwkv {
    height: calc(1px * (var(--vguildsize) * (8/50) + 12)) !important;
    width: calc(1px * (var(--vguildsize) * (16/50) + 12)) !important;
}
.wrapper-3NnKdC .scroller-1Bvpku > div[style*="height"]:not([class]) {
    height: calc(1px * var(--vguildsize) * (58/50)) !important;
}
.wrapper-3NnKdC .upperBadge-2XnnGB .base-PmTxvP {
    transform: translate(calc(1.5px * ((50 - var(--vguildsize))/10)), calc(-1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-3NnKdC .upperLeftBadge-e35IpL .base-PmTxvP {
    transform: translate(calc(-1.5px * ((50 - var(--vguildsize))/10)), calc(-1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-3NnKdC .lowerBadge-29hYVK .base-PmTxvP {
    transform: translate(calc(1.5px * ((50 - var(--vguildsize))/10)), calc(1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-3NnKdC .lowerLeftBadge-zr4T_9 .base-PmTxvP {
    transform: translate(calc(-1.5px * ((50 - var(--vguildsize))/10)), calc(1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-3NnKdC .wrapper-sa6paO { /* this stays as sa6pa0 */
    top: calc(-5px * var(--vguildsize)/50) !important;
    height: calc(1px * (var(--vguildsize) + 10 * var(--vguildsize)/50)) !important;
    transform: scale(calc(var(--vguildsize)/50)) !important;
    transform-origin: 0 50% !important;
}
.wrapper-3NnKdC .pill-1z4sAY {
    left: calc(1px * ((((var(--vguildsize) + 10 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) - 9)) !important;
}
.wrapper-3NnKdC .pill-1z4sAY {
    left: calc(1px * ((var(--valigndms) + ((((var(--vguildsize) + 10 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))) - 8)) !important;
}
.wrapper-3NnKdC .pill-1z4sAY,
.wrapper-3NnKdC .pill-1z4sAY {
    left: calc(-10px * var(--vguildsize)/50) !important;
}
.wrapper-3NnKdC .guildSeparator-EOYZLM {
    width: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) - (12 * var(--vguildsize)/50))) !important;
    margin: calc(1px * (var(--vguildsize)/10)) 0 !important;
    display: block !important;
}
.wrapper-3NnKdC [role=tree] ~ .listItem-1hlISG .listItemWrapper-KhRmzM,
.wrapper-3NnKdC [role=tree] ~ * .listItem-1hlISG .listItemWrapper-KhRmzM,
.wrapper-3NnKdC .listItem-1hlISG + div[aria-label]:not([class]) ~ .listItem-1hlISG .listItemWrapper-KhRmzM,
.wrapper-3NnKdC .listItem-1hlISG + div[aria-label]:not([class]) ~ * .listItem-1hlISG .listItemWrapper-KhRmzM,
.BF-folderSidebar div[aria-label=Servers] ~ .listItem-1hlISG .listItemWrapper-KhRmzM, /* Fix for Better Folders (by solonovamax#6983) */
.BF-folderSidebar div[aria-label=Servers] ~ * .listItem-1hlISG .listItemWrapper-KhRmzM {
    margin: 0 !important;
}
.wrapper-3NnKdC .guildsError-b7zR5H {
    height: calc(1px * var(--vguildsize)) !important;
    width: calc(1px * var(--vguildsize)) !important;
    font-size: calc(1px * (var(--vguildsize)/4 + 7.5)) !important;
    line-height: calc(1px * (var(--vguildsize)/4 + 6.5)) !important;
}
.wrapper-3NnKdC #bd-pub-li,
.wrapper-3NnKdC #bd-pub-li #bd-pub-button,
.wrapper-3NnKdC #sort-button,
.wrapper-3NnKdC #sort-button > div,
.wrapper-3NnKdC .frame-oXWS21,
.wrapper-3NnKdC .frame-oXWS21 .button-Jt-tIg {
    height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
.wrapper-3NnKdC .friendsOnline-2JkivW,
.wrapper-3NnKdC .label-2wRs_g {
    font-size: calc(1px * ((var(--vguildsize)/8) + 3.75)) !important;
}
.wrapper-3NnKdC .friendsOnline-2JkivW,
.wrapper-3NnKdC .label-2wRs_g,
.wrapper-3NnKdC #bd-pub-li,
.wrapper-3NnKdC #sort-button,
.wrapper-3NnKdC .frame-oXWS21 {
    width: calc(1px * ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50)) !important;
}
.wrapper-3NnKdC .friendsOnline-2JkivW,
.wrapper-3NnKdC .label-2wRs_g,
.wrapper-3NnKdC #bd-pub-li,
.wrapper-3NnKdC #sort-button,
.wrapper-3NnKdC .frame-oXWS21 {
    text-align: center !important;
    margin: calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1) - ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50) + var(--vguildsize))/2)) calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1) - ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50) + var(--vguildsize))/2)) !important;
}
.wrapper-3NnKdC #sort-button > div,
.wrapper-3NnKdC #bd-pub-li #bd-pub-button,
.wrapper-3NnKdC .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-3NnKdC .frame-oXWS21 .button-Jt-tIg {
    white-space: pre !important;
    font-size: calc(1px * ((var(--vguildsize)/8) + 5)) !important;
    line-height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
.wrapper-3NnKdC #sort-button > div,
.wrapper-3NnKdC #bd-pub-li #bd-pub-button,
.wrapper-3NnKdC .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-3NnKdC .frame-oXWS21 .button-Jt-tIg {
    width: 100% !important;
}

.wrapper-3NnKdC .wrapper-2q53zr {
    margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
    width: calc(1px * var(--vguildsize)) !important;
}
.wrapper-3NnKdC .wrapper-2q53zr > .listItem-1hlISG {
    margin: 0 !important;
}
.wrapper-3NnKdC .wrapper-2q53zr [role="group"] {
    overflow: visible !important;
    margin-left: -1px !important;
    margin-bottom: -8px !important;
    padding-left: 1px !important;
}
.wrapper-3NnKdC .wrapper-2q53zr [role="group"] .listItem-1hlISG {
    margin: 6px 0 !important;
}
.wrapper-3NnKdC .wrapper-2q53zr [role="group"] .listItem-1hlISG:last-child {
    margin-bottom: 0 !important;
}
.wrapper-3NnKdC .expandedFolderBackground-1cujaW {
    width: calc(1px * var(--vguildsize)) !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-bottom: 8px !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
    right: 3px !important;
    top: calc(var(--vguildsize) * 1px - 5px) !important;
    bottom: unset !important;
}


/* This stuff is my powercord fix (by Yellowsink#8156) */

.wrapper-3NnKdC .wrapper-2q53zr [role="group"], .wrapper-3NnKdC .wrapper-2q53zr {
    display: contents;
}

/* Delete the next 3 lines if you want to try figure out backgrounds */
.wrapper-3NnKdC .expandedFolderBackground-1cujaW {
    display: none;
}

.wrapper-3NnKdC .wrapper-2q53zr [role="group"] .listItem-1hlISG {
    margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
}

.wrapper-3NnKdC .wrapper-2q53zr > .listItem-1hlISG {
    margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
}

/* This is a fix for the Online Friends Count plugin, to make it not look like dog shit. (by solonovamax#6983) */

.onlineFriends-counter {
    padding: 0 0 0 0 !important;
    text-align: center !important;
    width: auto;
}

.tutorialContainer-2sGCg9 + .listItem-1hlISG,
.tutorialContainer-2sGCg9 + .listItem-1hlISG + .listItem-1hlISG { /* Last selector is a fix for the dm typing indicator plugin */
    flex: 0 0 93% !important; /* magic number go brrrrr */
    padding: 0 0 0 0 !important;
    margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important !important;
}

.tutorialContainer-2sGCg9 {
    margin: auto;
}

/* 
    Magic, probably.
*/
.wrapper-3Njo_c {
    position: relative;
    width: auto;
}

/*
    More magic.
*/
.half-2cquxE {
    flex-basis: auto;
}

.wrapper-3Njo_c > [role="group"] {
    height: auto !important;
}

/* #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div.BF-folderSidebar > nav > ul > div.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih > div:nth-child(1) > div.listItem-1hlISG */

.wrapper-3Njo_c .listItem-1hlISG {
    display: inline-block;
}